/* IMPOSTAZIONI GENERALI */

body {
  background-image: url(sfondo.png);
}

/* HEADER */
#head {
  background-image: linear-gradient(#0093b5, #116887);
  -webkit-box-shadow: 5px 5px 14px -2px #000000;
  box-shadow: 5px 5px 14px -2px #000000;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Poppins";
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
#head1 {
  text-align: center;
}
#ulhead {
  list-style-type: none;
}

/* MAIN */

#article {
  background-color: white;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
  font-family: "Poppins";
  text-align: left;
  padding: 25px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
strong {
  color: #ab1c71;
}
#mario {
  color: #96a5a0;
}

/* TABELLE */
#caption {
  color: #000000;
}

/* FORM */
#tool {
  color: #2eb3d9;
  text-decoration: #2eb3d9;
}
table {
  width: 100%;
  margin-inline: auto;
  border-color: black;
}
th {
  color: white;
  background-color: #4272d0;
  border: 2px;
  border-color: #96a5a0;
  /* padding-top: 20%; */
  text-align: center;
}
#parti,
#parti1 {
  background-color: #f3f3f3;
  border-top: #e4e4e5;
}
#parti1 {
  border-bottom: #116887;
}
#novità {
  background-color: #e1e2e4;
  text-align: center;
  padding: 20px;
}
#articoli {
  background-color: #e1e2e4;
  text-align: center;
  padding: 20px;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
